.navbar{
    background-color: #fff;
    width: 100%;
    height: 80px;

}

.nav-menu{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
   
}

.logo{
    padding-left: 70px;
}

.nav-list{
    list-style-type: none;
    margin-left: 150px; 
}

.nav-list li{
 
display: inline-block;
padding-left: 30px;

border-bottom: 2px solid transparent;

}

.nav-list li a{
    color:  hsl(0, 5%, 15%);
text-decoration-line: none;

}
.nav-list li :hover{
     border-bottom: 2px solid hsl(136, 65%, 51%);
}

button{
    margin-left: 250px; 
    width: 150px;
    height: 40px;
    border-radius: 20px;
   background: linear-gradient(hsl(136, 65%, 51%), hsl(192, 70%, 51%));
   color: hsl(0, 0%, 100%)

   ;


}

